/* ===========================
   Reset & Base
=========================== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px; /* remの基準 */
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Serif JP";
  font-weight: bold;
  color: #bf8136;
  background-color: #2b2b2b;
  line-height: 2;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s ease;
}

a:hover {
  opacity: 0.7;
}

ul {
  list-style: none;
}

/* ===========================
   Layout
=========================== */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 40px;
}

.section-title {
  font-size: 2rem;
  text-align: center;
  padding: 2rem 0;
}

.sp-only {
  display: none;
}

header {
  background-color: #fff;
  padding: 2rem;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 250px;
  margin: 1rem;
}

.header-nav ul {
  display: flex;
  justify-content: flex-start;
  margin: 1rem;
}

.header-nav li {
  padding: 0 1rem;
}

.hero-img img {
  width: 100%;
  height: 900px;
  object-fit: cover;
  object-position: top;
}

.about {
  text-align: center;
  background-color: #0d2e31;
  padding: 4rem 0;
}

.about-phrase h2 {
  font-size: 4rem;
}

.about-txt-contents {
  margin: 40px;
  font-size: 1.5rem;
}

.features-contents {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.features-img img {
  width: 250px;
}

.features-txt {
  margin-top: 7rem;
}

.features-txt h3 {
  font-size: 2rem;
}

.features-txt h4 {
  font-size: 1.2rem;
}

.features-txt p {
  font-size: 0.8rem;
}

.package-contents {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.package-img {
  text-align: center;
}

.package-img img {
  width: 30%;
}

.package-txt h3 {
  background-color: #09444a;
  color: #fff;
  margin: 1rem 0;
}

.movie-subtitle {
  text-align: center;
  margin: 50px;
}

.movie-cards ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.movie-cards li {
  width: 100%;
  height: 200px;
  max-width: 400px;
}

.cast-profile {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  text-align: center;
}

.cast-profile-item {
  width: 50%;
}

.cast-profile-item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.cast-profile-item p {
  font-size: 0.7rem;
}

.cast-profile-item .cast-profile-name {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.campaign {
  background-color: #09444a;
}

.campaign-contents-pc {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}

.campaign-contents-pc p {
  text-align: center;
}

.campaign-contents-sp {
  display: none;
}

.campaign-contents-sp p {
  text-align: center;
  font-size: 0.7rem;
}

.products-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding-bottom: 5rem;
}

.products-contents .products-logo {
  font-size: 4rem;
  color: #54bfb5;
  text-align: center;
}

.cta-btn {
  text-align: center;
  padding: 8px 24px;
  color: #fff;
  background-color: #bf8136;
  display: inline-block; /* aタグはもともとinlineの性質を持っているため変更 */
  opacity: 0.8;
  transition:
    color 0.3s ease,
    background-color 0.3s ease;
}

.cta-btn:hover {
  background-color: #fff;
  color: #bf8136;
}

.products-cans {
  display: flex;
  align-items: baseline;
}

.products-can {
  text-align: center;
  margin-right: 2rem;
}

footer {
  background-color: #fff;
  padding: 2rem;
}

.footer-nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 2rem;
}

.footer-nav li {
  padding: 0 1rem;
  font-size: 0.8rem;
}

footer p {
  color: red;
  font-size: 10px;
}

/* ===========================
   Responsive
=========================== */
@media (max-width: 900px) {
  .container {
    padding: 0 20px;
  }
  .sp-only {
    display: block;
  }
  .header-nav {
    display: none;
  }
  .hero-img img {
    width: 100%;
    height: auto;
  }
  .about-phrase h2 {
    font-size: 2rem;
  }
  .about-txt-contents {
    font-size: 0.7rem;
  }
  .features-contents {
    flex-direction: column;
    align-items: center;
  }
  .features-img {
    order: -1; /* 一番前に移動 */
    width: 40%;
  }
  .features-txt {
    margin: 40px;
  }
  .package-contents {
    flex-direction: column;
    align-items: center;
  }
  .package-txt {
    font-size: 0.8rem;
  }
  .cast-profile {
    flex-direction: column;
    align-items: center;
  }
  .cast-profile-item {
    width: 100%; /* 50%から変更 */
  }
  .movie-cards ul {
    flex-direction: column;
    align-items: center;
  }
  .campaign {
    background-color: #2b2b2b;
  }
  .campaign-contents-pc {
    display: none;
  }
  .campaign-contents-sp {
    display: block;
  }
  .products-inner {
    flex-direction: column;
    align-items: center;
  }
  .products-contents .products-logo {
    font-size: 1.8rem;
  }
  .cta-btn {
    padding: 0.5rem 4rem;
    margin-top: 1rem;
  }

  .products-cans {
    justify-content: center;
  }
  .products-can {
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .products-can img {
    width: 80%;
  }
  .footer-nav {
    display: none;
  }
}
